<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    <settings>
            <setting name="logImpl" value="STDOUT_LOGGING"/>
        </settings>-->

    <properties resource="jdbc.properties"></properties>

    <typeAliases>
        <!--        name:实体类所在包名（不是实体类包名也可以）-->
<!--        <package name="com.zcw.bean"/>-->
    </typeAliases>



    <environments default="developement">
        <environment id="developement">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.passsword}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.zcw.crm.settings.dao"/>
        <package name="com.zcw.crm.workbench.dao"/>
        <!--        <mapper resource="com/zcw/dao/StudentDao.xml"/>-->
    </mappers>
</configuration>